Repository mnichols08/drawer-count-app, changes with the labels that .github/labeler.yml gives for each.
All labels: area: server, area: scripts, area: frontend, area: tests, area: docs, type: build, type: chore

fix: Update 'no-unused-vars' rule configuration for improved linting accuracy
  eslint.config.cjs
Labels: none

refactor: Update error handling to use consistent variable naming across multiple files
  scripts/bump-sw-cache.js
  scripts/post-favicons-copy.js
  server.js
  src/components/count-panel.js
  src/components/help-modal.js
  src/components/network-status.js
  src/components/revert-confirm-modal.js
  src/components/unlock-confirm-modal.js
  src/lib/days.js
  src/lib/persistence.js
  src/lib/sync.js
  src/lib/theme.js
  src/offline.html
Labels: area: server, area: scripts, area: frontend

feat: Enhance linting setup and documentation for improved code quality and consistency
  CHANGELOG.md
  README.md
  docs/README.md
  docs/testing/linting.md
Labels: area: docs

chore(release): bump to v0.3.2
  package-lock.json
  package.json
  src/index.html
  src/offline.html
  src/sw.js
Labels: area: frontend, type: build

refactor: Convert ES module imports to CommonJS in test scripts and add utility functions for skipping tests
  tests/scripts/package-scripts.test.js
  tests/scripts/server.test.js
  tests/utils/skip.js
Labels: area: tests

chore(release): bump to v0.3.3
  package-lock.json
  package.json
  src/index.html
  src/offline.html
  src/sw.js
Labels: area: frontend, type: build

refactor: Update GitHub Actions workflows to restrict deployment and artifact upload to pushes on the main branch; enhance test scripts in package.json
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  package.json
Labels: area: docs, type: build

chore: Update CHANGELOG for v0.3.3 with CI/CD adjustments, test workflow simplifications, and new package script aliases
  CHANGELOG.md
Labels: none

chore(release): bump to v0.3.3
  package-lock.json
  package.json
  src/index.html
  src/offline.html
  src/sw.js
Labels: area: frontend, type: build

chore: Update CHANGELOG for v0.3.4 with PR-triggered deploy prevention and job-level branch guards
  .github/workflows/deploy.yml
  CHANGELOG.md
Labels: area: docs, type: build

chore(release): bump to v0.3.4
  package-lock.json
  package.json
  src/index.html
  src/offline.html
  src/sw.js
Labels: area: frontend, type: build

.github/labeler.yml:

# Path-based label rules
# Docs: https://github.com/actions/labeler

"area: server":
  - changed-files:
    - any-glob-to-any-file: ["server.js"]

"area: scripts":
  - changed-files:
    - any-glob-to-any-file: ["scripts/**"]

"area: frontend":
  - changed-files:
    - any-glob-to-any-file: ["src/**"]

"area: tests":
  - changed-files:
    - any-glob-to-any-file: ["tests/**"]

"area: docs":
  - changed-files:
    - any-glob-to-any-file: ["docs/**", "README.md", ".github/**"]

"type: build":
  - changed-files:
    - any-glob-to-any-file: ["package.json", "package-lock.json", ".github/workflows/**"]

"type: chore":
  - changed-files:
    - any-glob-to-any-file: [".editorconfig", ".gitattributes"]
